<div class="row formDiv">
    <div class="col-xs-12 col-md-12 col-md-offset-3" style="text-align: center;">
        <h2>FED - Angular Capstone Project</h2>
        <h3>Products Inventory</h3>
        <h3>[CP-FEA-001]</h3>
        <br><br>
        <p>The proposed system has provision to view the list of products and allow only the registered and authenticated users to add, edit, delete the products and view the product detail. The user interface to the system is implemented using Angular. The data about the products is managed in a JSON server. The client application is interfaced with the JSON Server through http to retrieve and store data.</p>

    </div>
</div>